<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>

  <div class="title">
    <li><a href="<%= post.link %>" target="_blank"><%= post.title %></a></li>
  </div>

  <div class="tagline">
    Submitted at <%= post.created_at %>
  </div>

  <% end %>

</ul>
